
.home {
    background-image: url("../assets/thunder_cats.jpg");
    background-color: black;
    width: 100%; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;

}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

